<header>

<link rel="stylesheet" href="vehiculos.css">
  <div id="logo">
    <a href="#">Vehiculos Oficiales</a>
  </div>
  <nav id="menu">
    <button class="nav-mobile" id="nav-mobile">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-menu">
      <li><a href="#"onclick="javascript:op(API.endpoint1,'contenido1','panelDerOcultable');">1-HTTPS</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint2,'contenido2','panelDerOcultable');">2-Access Control</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint3,'contenido3','panelDerOcultable');">3-API keys</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint4,'contenido4','panelDerOcultable');">4-JWT</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint5,'contenido5','panelDerOcultable');">5-Blockchain</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint6,'contenido6','panelDerOcultable');">6-Restrict HTTP Methods</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint7,'contenido7','panelDerOcultable');">7-Input Validation</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint8,'contenido8','panelDerOcultable');">8-Validate Content Types</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint9,'contenido9','panelDerOcultable');">9-Management endpoint</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint10,'contenido10','panelDerOcultable');">10-Error handling</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint11,'contenido11','panelDerOcultable');">11-Audit logs</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint12,'contenido12','panelDerOcultable');">12-Security headers</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint13,'contenido13','panelDerOcultable');">13-CORS</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint14,'contenido14','panelDerOcultable');">14-Sensitive Information in HTTP requests</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint15,'contenido15','panelDerOcultable');">15-HTTP return code</a></li>
      <li><a href="/swagger">16-API documentation with swagger</a></li>
      <li><a href="#"onclick="javascript:op(API.endpoint17,'contenido17','panelDerOcultable');">17-Evaluation of Attacks with SonarQube / OWASP ZAP</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1><div id="divMensajeStatus" style="/*width:90%;margin:0 10pt 5pt 20pt;*/">&nbsp;</div></h1>  
  <div id="contenido1" class="panelDerOcultable" style="display: inline;"> 1
  </div>
  <div id="contenido2" class="panelDerOcultable" style="display: none;"> 2
  </div>
  <div id="contenido3" class="panelDerOcultable" style="display: none;"> 3
  </div>
  <div id="contenido4" class="panelDerOcultable" style="display: none;"> 4
  </div>
  <div id="contenido5" class="panelDerOcultable" style="display: none;"> 5
  </div>
  <div id="contenido6" class="panelDerOcultable" style="display: none;"> 6
  </div>
  <div id="contenido7" class="panelDerOcultable" style="display: none;"> 7
  </div>
  <div id="contenido8" class="panelDerOcultable" style="display: none;"> 8
  </div>
  <div id="contenido9" class="panelDerOcultable" style="display: none;"> 9
  </div>
  <div id="contenido10" class="panelDerOcultable" style="display: none;"> 10
  </div>
  <div id="contenido11" class="panelDerOcultable" style="display: none;"> 11
  </div>
  <div id="contenido12" class="panelDerOcultable" style="display: none;"> 12
  </div>
  <div id="contenido13" class="panelDerOcultable" style="display: none;"> 13
  </div>
  <div id="contenido14" class="panelDerOcultable" style="display: none;"> 14
  </div>
  <div id="contenido15" class="panelDerOcultable" style="display: none;"> 15
  </div>
  <div id="contenido16" class="panelDerOcultable" style="display: none;"> 16
  </div>
  <div id="contenido17" class="panelDerOcultable" style="display: none;"> 17
  </div>
</main>
<script type="text/javascript" src="jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="nav.js"></script>
<script type="text/javascript" src="General.js"></script>
<script type="text/javascript" src="API.js"></script>